.w3-card-2{
    text-align: center;
    border: grey;
    border-width: 1px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }