.counter-container{
  flex-direction: row;
  align-items: center;
  align-content: center;
  display:flex;
  }

  #increment{
    background-color: rgb(90, 39, 231);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }

  #decrement{
    background-color:rgb(240, 17, 17);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }
  h4{
    padding-right: 10px;
    padding-left: 10px;
  }
  /* #counter-container{} para aplicarlo por nombre*/